/*
    Document   : GUI
    Created on : 28-Feb-2009, 16:41:46
    Author     : Jacxz
    Description:
        Purpose of the stylesheet follows.
*/
screenTopbar text {
    color: #085372;
    padding: 1 2 1 2;
}
screenTopbar {
    font-style: bold;
    bg-color: #cccccc;
    border: 0 0 1 0;
    border-color: #185a76;
}
screenBottombar {
    bg-color: #77787a;
    border: 1 0 0 0;
    border-color: #185a76;
    padding: 2 2 1 2;
}
screenBottombar text {
    color: #085372;
}
desktop {
    bg-image: url(PusherBlue.png);
}
text {
    align: center;
    font-style: normal;
}
menuPopup {
    bg-color: #bababa;
    border: 2;
    border-color: #185a76;
    padding: 1;
    margin: 0 0 5 0;
}
menuItem {
    padding: 1 26 1 6;
    margin: 1 0 0 0;
    border: 1;
    border-color: #185a76;
    color: #085372;
}
menuItem:hover {
    bg-color: #a7c9d7;
    border-color: #0098d7;
}
list {
    padding: 1;
}
listItem {
    align: center;
    color: #085372;
    border: 1;
    padding: 0 25 0 25;
    border-color: #185a76;
    margin: 0 0 2 0;
}
listItem:hover {
    bg-color: #a7c9d7;
    border: 1;
    border-color: #0098d7;
}
.containerPM {
    layout: gridlayout(1,2);
    margin: 20;
}
text.PM {
    font-size: large;
    color: white;
}
textArea.Msg {
    bg-color: white;
    border: 1;
    border-color: black;
    margin: 2;
}
textField.Msg {
    bg-color: white;
    border: 1;
    border-color: black;
    margin: 2;
}
popupBox {
    border: 1;
    border-color: #0098d7;
    bg-color: #a7c9d7;
    padding: 5;
    grayed-color: #444447;
}
popupbox.progress {
	border: 2;
	border-color: black;
	padding: 0;
	bg-color: #2d3030;
	layout-data: sld(center, .9, -1);
    grayed-color: #444447;
}
gauge {
	border: 5 10 5 10;
	border-color: #185a76;
	bg-color: #002020;
	padding: -5 -10 -5 -10;
}
gaugebar {
	border: 5 10 5 10;
	bg-color: #e95711;
	border-color: #0098d7;
}